.place__url-link {
color: white;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-decoration-line: underline;
}

@media screen and (max-width: 720px) {
    .place__url-link {
padding: 0 16px;
    }
}

.place__url-link:hover {
    opacity: 0.8;
    transition: opacity 1s linear;
}