@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/body/body.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__lang-link/_underline/header__lang-link_underline.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    margin: 92px auto;
    max-width: 1184px;
    
}

.photo-grid__item{
    width: 284px;
    height: 213px;
}

@media screen and (max-width: 1190px) {
    .photo-grid {
    gap: 14px;
    max-width: 928px;
}
.photo-grid__item{
    width: 300px;
    height: 225px;
}
}

@media screen and (max-width: 930px) {
    .photo-grid {
    max-width: 720px;
    margin-top: 88px;
}
.photo-grid__item {
    width: 352px;
    height: 264px;
}
}

@media screen and (max-width: 740px) {
    .photo-grid {
    gap: 14px;
    max-width: 288px;
    margin-top: 64px;
}
.photo-grid__item{
    width: 288px;
    height: 216px;
}
}

.place {
    display: grid;
    max-width: 984px;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    margin: 0 auto;
    column-gap: 40px;
}

.place__title {
    font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 76px;
margin: 0 0 48px 0;
max-width: 460px;
}

.place__url-heading {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
letter-spacing: 2px;
color: #AAAAAA;
margin: 0 0 12px 0;
}

.place__image {
    width: 460px;
    height: 460px;
    margin-bottom: 80px;
}

.place__url-link {
color: white;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-decoration-line: underline;
}

.place__url-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 48px;
}

.place__paragraph-container {

}

.place__paragraph {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 163%;
margin-bottom: 26px;
}

.place__paragraph:last-child {
    margin-bottom: 0;
}
