.footer__list {
    margin-right: 16px;
}

@media screen and (max-width: 660px) {
    .footer__list {
        margin-bottom: 32px;
        padding-left: 16px;
    }
    .footer__list:last-child {
        margin-bottom: 48px;
    }
}