.place {
    margin: 0 auto 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #FFFFFF;
    gap: 48px 40px;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1025px) {
    .place {
    row-gap: 32px;
    }
}

@media screen and (max-width: 928px) {
    .place {
    margin-bottom: 73px;
    row-gap: 28px;
    }
}

@media screen and (max-width: 720px) {
    .place {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 338px) {
    .place {
    max-width: 320px;
    gap: 32px 0;
    }
}