.place__url-heading {
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
letter-spacing: 2px;
color: #AAAAAA;
text-transform: uppercase;
}

@media screen and (max-width: 720px) {
    .place__url-heading {
padding: 0 16px;
    }
}